# API and Data Collection
python-dotenv>=1.0.0
requests>=2.31.0
geopy>=2.4.1
pandas>=2.0.0
pyyaml>=6.0.1
pytz>=2023.3
timezonefinder>=6.2.0

# Google Cloud
google-cloud-bigquery>=3.11.0
pandas-gbq>=0.19.2

# Data Transformation
dbt-bigquery>=1.5.0

# Visualization
streamlit>=1.24.0
plotly>=5.15.0 

# Editable installation for Streamlit Community Cloud
-e .